a:link {color:#0b5395}
a:visited {color:#555395}

h1,h2,h3,h4,h5,h6{
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.li-item {
	font-size: 16px;
	margin-bottom: 10px;
}
.div-item {
	font-size: 16px;
	margin: 0 0 10px 20px;
}

.profile {
    position: absolute;
	display: inline-block;
}
.profile.image{
	width: 125px;
	height: 125px;
    border: 2px solid #eee;
	border-radius: 5px;
	margin-top: 10px;
    margin-left: 60px;
}
.profile.detail {
    margin-top: -10px;
	margin-left: 210px;
}

.container {
    margin: 5px 0 0 50px;
}

