a:link {color:#0b5395}
a:visited {color:#555395}

h1,h2,h3,h4,h5,h6{
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.li-item {
	font-size: 16px;
	margin-bottom: 10px;
}
.div-item {
	font-size: 16px;
	margin: 0 0 10px 20px;
}

.profile {
	margin: 7px 0 0 10%;
	min-width: 600px;
}
.profile-image {
	display: inline-block;
	width: 125px;
	height: 125px;
  border: 2px solid #eee;
	border-radius: 5px;
	vertical-align: middle;
}
.profile-detail {
	display: inline-block;
	vertical-align: middle;
	margin: -17px 0 0 30px;
}
.menu {
	float: right;
	margin: 5px 10% 0 0;
	overflow: visible;
}
.container {
  margin: 5px 10% 15px 10%;
}
